body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
    color: black;
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.calculator {
    width: 95%;
    height: 95vh;
    border: 1px solid transparent;
}

textarea {
    width: 98%;
    height: 15vh;
    text-align: end;
    resize: none;
    color: white;
    font-size: 45px;
    background-color: black;
    border: 1px solid transparent;
    overflow: auto;
    /* 좌우 조절 불가능 */
}

#result {
    width: 99%;
    height: 7vh;
    text-align: right;
    color: white;
    font-size: 40px;
    border: 1px solid transparent;
}

button {
    width: 5rem;
    height: 5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50px;
    border: 2px solid black;
    font-size: 35px;
    text-align: center;;

}

table {
    width: 100%;
    height: 95vh;
    border: 1px solid transparent;
    border-collapse: collapse;
    background-color: black;
}

td {
    text-align: center;
    width: 25%;
    border: 1px solid transparent;
}

#divide, 
#multiply, 
#subtract, 
#add, 
#equal {
    background-color: orange;
}

#divide p, 
#multiply p, 
#subtract p, 
#add p, 
#equal p {
    color: white;
}

#num1 p,
#num2 p,
#num3 p,
#num4 p,
#num5 p,
#num6 p,
#num7 p,
#num8 p,
#num9 p,
#num0 p {
    color: white;
}
#num1,
#num2,
#num3,
#num4,
#num5,
#num6,
#num7,
#num8,
#num9,
#num0 {
    background-color: darkgray;
}