body {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

.inputOutput {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: end;
    align-items:end;
    flex-direction: column;
}

#display {
    font-size: 40px;
    text-align: end;
    overflow: auto;
    color: white;
    font-family: sans-serif;
    padding: 0 10px 0 10px;
}

#result {
    height: 60px;
    font-size: 50px;
    line-height: 150%;
    color: white;
    font-family: sans-serif;
    padding: 0 10px 0 10px;
}

.tableSection {
    width: 100%;
    height: 60%;
}

table {
    width: 100%;
    height: 100%;
    border-color: transparent;
}

td {
    width: 20%;
    border-color: transparent;
}

button {
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;
    background-color: rgb(137, 137, 137);
}

.sign {
    background-color: orange;
}

.del {
    background-color: rgb(99, 99, 99);
}